@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body{background-color: black;
font-family: 'Raleway','Arial';
}
.container{
    display: flex;
    margin: auto;
    font-size: large;
    color: greenyellow;
    max-width: 70%;
    padding: 1.5rem   ;
    border: 2px dotted white;
    flex-direction: column;
}
.edit{
    display: block;
    margin: auto;
    padding:6px;
}
h1{
    color: greenyellow;
    display: flex;
    justify-content: center;
}
.input-edit{
    background-color:whitesmoke ;
    padding: 5px;
    font-weight:bold;
}
#btn{
    background-color: whitesmoke;
    padding: 5px;
    font-weight:bold;
    cursor: pointer;
    flex-shrink:;
}

